graph {
	padding: 50px;
}

node {
	size: 15px;
	text-size: 15;
	text-alignment: at-right; 
	text-padding: 2px; 
	text-background-mode: rounded-box; 
	text-background-color: #27CC; 
	text-color: white; 
	text-style: bold-italic; 
	text-color: #FFF;
}

edge {
	fill-color: grey;
	text-alignment: along;
	text-visibility-mode: hidden;
}