graph {
	padding: 50px;
}

node {
	size: 15px;
	text-size: 15;
	text-alignment: at-right; 
	text-padding: 2px; 
	text-background-mode: rounded-box; 
	text-background-color: #27CC; 
	text-color: white; 
	text-style: bold-italic; 
	text-color: #FFF;
}

node.pos {
	fill-color: blue;
}

node.neg {
	fill-color: red;
}

edge {
	size: 2px;
	arrow-shape: arrow; 
	arrow-size: 20px, 4px;
	fill-color: #555;
	text-alignment: along;
	text-visibility-mode: hidden;
}